html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

// #General body style
body {
	font: 16px/22px $body_font_family;
	font-weight:300;
	color: #444;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	@include vertical-gradient-image($bg_gradient_start, $bg_gradient_end, '../images/bg_top_left.png');




}

// #General horizontal rule style
hr {
  border: $hr_border;
  border-width: $hr_border_width;
  clear: both;
  margin: $hr_margin;
  height: 0;
}

abbr{
	border:0 !important;
}

.read-more{
	font-weight:600;
	color:$blue_grey;
}

.alignright{
	float:right;
	padding-left:15px;
}
.alignleft{
	float:left;
	padding-right:15px;
}

// #Navigation 

.utility-container{
	background-color:$med_grey;
}

#utility-nav{
	padding:10px 0;
	text-align:right;
	font-size:14px;
	li{
		display:inline;
		margin:0;
		padding:10px;
		a{
			color:$blue_grey;
		}
		
	}
	.utility-menu{
		float:right;
	}
	.social-media-links{
		margin:0;
		padding:0;
		float:right;
		img{
			vertical-align: middle;
		}
		li{
			padding:0 4px;
		}
	}
	@include breakpoint(phablet) {
		padding:20px 0;
		background-image: url(../images/logo_vidar_wolf.png);
		background-position:left center;
		background-repeat: no-repeat;
	}
	@include breakpoint(mobileonly){
		padding:20px 0;
		background-image: url(../images/logo_vidar_wolf.png);
		background-position:left center;
		background-repeat: no-repeat;
	}


}

.main-nav-container{
}

.tinynav{
	display:none;
	margin-top:25px;
	width:100%;
	font-size:18px;

	@include breakpoint(phablet) {
		display:block;
	}
	@include breakpoint(mobileonly){
		display:block;
	}
}

#main-nav{
	a{
		text-transform: uppercase;
		font-weight:600;
		font-size:16px;
	}
	li {
		a{
			&:hover{
				color:$yellow;
			}
			@include breakpoint(tablet) {
				font-size:.8em !important;
			}
			@include breakpoint(allmobile) {
				font-size:.8em !important;
			}
		}
		li{
			a{
				text-transform: none;
				font-weight:400;
				font-size:14px;
				&:hover{
					color:$blue_grey;
				}
			}
		}
		&.current-page-parent{
		}
		&.current_page_ancestor{
			a{
				text-decoration: underline
			}
			li{
				a{
					text-decoration: none;
				}
				&.current-menu-item{
					a{
						text-decoration: underline;
					}
				}
			}
		}
		&.current-menu-item{
			a{
				text-decoration: underline;
			}
			li{
				a{
					text-decoration: none;
				}
			}
		}
	}
	.menu{
		margin:50px 0 42px;
	}
	.logo-image{	
		margin-top:-18px;
		@include breakpoint(desktop) {
			margin-top:-12px;
			a{
				width:90%;
				margin-right:0;
				padding-right:0;
			}
		}

	}
	.logo-image-not-home{
		margin-top:-11px;
		a{
			padding-right:.6em;
			
		}
		@include breakpoint(desktop) {
			margin-top:-8px;
			a{
				width:80%;
				margin-right:0;
				padding-right:0;
			}
		}
		
	}
	#menu-main-menu{
		@include breakpoint(phablet) {
			display:none;
		}
		@include breakpoint(mobileonly){
			display:none;
		}
		
	}
	
}

.nav{
	ul{
		margin:0;		
	}	
	li{
		
	}
}

.pagination {
	padding:20px 0 60px;
	a{
		padding:10px 20px;
		color:$blue_grey;
		background-color:$yellow;
		&:hover{
			color:$white;
		}
	}
	.prev-posts-link{
		float:left;
		width:50%;
	}
	.next-posts-link{
		float:right;
		width:50%;
		text-align: right;
	}
}

// #Home

.home{
	padding-bottom:30px;
}

#home-hero{
	height:471px;
	font-size:48px;
	line-height: 62px;
	position:relative;
	border:7px solid $blue_grey;
	h1{
		color:#fff;
		font-size:55px;
		span{
			color:$yellow;
		}
	}
	#hero-text{
		position:absolute;
		top:25%;
		left:80px;
		z-index:100;
		color:#fff;
		span{
			color:$yellow;
		}
	}
}

#home-intro-container{
	padding:0 20px;
	height:471px;
	background-color:$blue_grey;
	border: 7px solid $grey;
	color:$white;
	font-size:16px;
	line-height:22px;
	p{
		margin-bottom:10px !important;
		&:first-child{
			padding-top:20px;
			font-size:22px;
			line-height:26px;
			font-weight:300;
			color:$grey;
			span{
				background-color:$yellow;
				color:$blue_grey;
			}
			@include breakpoint(desktop) {
				font-size:18px;
				line-height:20px;
			}
			
		}
		a{
			color:#fff;
			font-weight:600;
		}
	}
	@include breakpoint(desktop) {
		font-size:14px;
		line-height:18px;
	}
	@include breakpoint(phablet) {
		margin-top:20px;
		height:auto;
	}
	@include breakpoint(mobileonly){
		margin-top:20px;
		height:auto;
	}


}

#home-blog-container{
	h1{
		font-size:22px;
		line-height:24px;
		font-weight:600;
		color:$blue_grey;
		a{
			color: $blue_grey;
		}
		span{
			color:$grey;
		}
	}
	h2{
		padding-top:10px;
		font-size:22px;
		line-height:24px;
		font-weight:300;
		color:$blue_grey;
	}
	p{
		line-height:18px;
	}
	img{
		border:4px solid $white;
	}	
	.entry-content{
		@include breakpoint(phablet) {
			margin-bottom:30px;
		}
		@include breakpoint(mobileonly){
			margin-bottom:30px;
		}
		
	}
	@include breakpoint(phablet) {
		margin-top:20px;
		height:auto;
	}
	@include breakpoint(mobileonly){
		margin-top:20px;
		height:auto;
	}


}


// #Box Containers (Callouts)

.quote-container{
	padding:25px;
	border:7px solid $blue_grey;
	background-position:center top;
	background-repeat:no-repeat;
	p{
		margin-bottom:5px;
		font-size:22px;
		line-height:28px;
		font-weight:300;
		color:$white;
		a{
			font-size:16px;
			color:#fff;
			font-weight:600;
		}
	}
	@include breakpoint(phablet) {
		margin-bottom:20px;
	}
	@include breakpoint(mobileonly){
		margin-bottom:20px;
	}
}

.quote-block{
	font-size:18px;
	line-height:22px;
	color:$blue_grey;
	span{
		font-size:16px;
		color:$body_text_color;
	}
	
}

.bio-container{
	background-color:$blue_grey;
	border:7px solid $grey;
	h1{
		padding:13px 40px 20px 20px;
		font-size:14px;
		font-weight:600;
		line-height:14px;
		color:$white;
		text-transform: uppercase;
		background-color:$grey;
		span{
			color:$yellow;
			text-transform: capitalize;

		}
	}
	img{
		float:left;
		padding:10px 20px 0;
	}
	p{
		margin:0;
		padding:5px 20px 15px;
		color:#fff;
		&:last-child{
			padding-bottom:20px;
		}
		a{
			font-size:16px;
			color:#fff;
			font-weight:600;
		}
	}
}

.intro-block{
	@extend .quote-container;
	min-height:150px;
	color:$white;
	border:7px solid $grey;
	background-color:$blue_grey;
	strong{
		font-weight:600;
		font-size:22px;
		color:$blue_grey;
		background-color:tint($yellow, 25%);
	}
	a{
		@extend strong;
	}
	p{
		padding-bottom:10px;
		&:last-child{
			padding:0;
		}
	}
}

.callout-block{
	padding:20px;
	ul{
		margin-bottom:12px;
	}
	li{
		&:last-child{
			margin-bottom:0;	
			}
	}
}

.blog-box{
	.row{
		background-color:$blue_grey;
	}
	.image{
		text-align:right;
		padding:25px 15px 15px 25px;
	}
	.content{
		color:$white;
	}
	.border-box{
		border:7px solid $grey;	
		background-color:$blue_grey;
	}
	h2{
		margin:0;
		padding:15px 0 0;
		a{
			color:$yellow;
		}
	}
	.entry-date{
		font-weight:$white;
		font-size:14px;
		abbr{
			border:none;
			font-weight:600;
		}
		
	}
	.entry-content{
		border-bottom:1px solid $grey;	
		a{
			color:$yellow !important;
		}
		.read-more{
			color:$yellow !important;
		}
	}
	.entry-categories{
		font-size:12px;
		ul{
			margin:15px 0 0;
			padding:0;
			font-weight:700;
		}
		li{
			display:inline;
			
		}
		a{
			color: $yellow;
		}
	}
	.entry-tags{
		@extend .entry-categories;
		ul{
			margin:0 0 15px;
		}
	}
	span{
		&.read-more{
			display:block;
			padding:15px 0 0;
			font-weight:600;
		}
	}
}

// #Single Post

.single{
	.single-title{
		margin:0 0 5px;
		padding:0;
		line-height:48px;
	}
	.entry-meta{
		margin-bottom:15px;
		font-weight:600;
		color: $blue_grey;
		
	}
	.content{
		padding-bottom:30px;
		a{
			color:$blue_grey;
			font-weight:600;
		}
	}
	.entry-categories{
		border-top:1px solid $grey;
		padding-top:15px;
		ul{
			margin:0;
			padding:0;
		}
	}
	.entry-tags{
		ul{
			margin:0;
			padding:0;
		}
		
	}
}

// #Archive

.archive{

	.page-title{
		span{
			color:$grey;
			font-weight:600;
		}
	}
	
}

// #Case Study

.case-study-excerpt{
	padding-bottom:25px;
	border-bottom:7px solid $blue_grey;
	&:last-child{
		border:0;
	}
}


// #Footer

.footer{
	padding:37px 0 100px;
	background-color:$white;	
	color:$blue_grey;
	font-weight:300;
	font-size:12px;
	p{
		font-size:12px;
		line-height:14px;
		font-weight:300;
	}
	a{
		font-weight:600;
		color:$blue_grey;
	}
	li{
		list-style-type: none;
	}
	.address{
		font-size:14px;
	}
	.contact{
		color:$grey;
		font-weight:600;
	}
	.footer-menu{
		margin:0;
		padding:0;
		li{
			margin-bottom:5px;
		}
		a{
			color:$grey;
			text-transform: uppercase;		
			&:hover{
				color:$blue_grey;
			}
		}
	}
	.footer-utility{
		@extend .footer-menu;
		a{
			font-weight:300;
		}
	}

}



