#twitter-container{
	
	background-color:$med_grey;
	border:7px solid $grey;
	h1{
		padding:10px 0 10px 45px;
		font-size:22px;
		line-height:24px;
		font-weight:600;
		color:$blue_grey;
		background-image: url(../images/icon_twitter_grey.png);
		background-position: 20px center;
		background-repeat:no-repeat;
		background-color:tint($grey, 40%);
		span{
			color:$grey;
		}
	}
	p{
		padding:0 20px;
		font-size:14px;
		line-height:18px;
		span{
			display:block;
			font-weight:600;
			color:$blue_grey;
		}
		@include word-wrap();
	}
	
}